html, body{
  background-color: white;
  height: 100%;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-nav .logo-nav {
  position: fixed;
}

.container {
  min-height: 80%;
  max-width: 100%;
}

.swiper-container {
  position: fixed;
  max-width: 100%;
  margin-top:10px;
  height: 600px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}


.navbar-expand-sm .navbar-nav .nav-link{
  padding-right: 3.5rem;
  padding-left: 1.5rem;
}
.navbar-brand{
  padding-right: 5.5rem;
}

.footer {
  position: fixed;
  left: 0;
  height: 120px;
  bottom: 30px;
  width: 100%;
  color: white;
  text-align: center;
}


.footer .swiper-1 {
  position: fixed;
  bottom: 30px;
  height: 120px;
}

.footer .swiper-1 img{
  width: 150px;
  height: 120px;
}

.footer .swiper-1 .swiper-slide {
  display: flex;
  justify-content: left;

}


/*  Nav Bar Styling */


	.navbar-header.col {
    margin-left: 10px;
		padding: 0 !important;
	}
	.navbar {
		background: #fff;
		padding-left: 16px;
		padding-right: 16px;
		border-radius: 0;
	}
	.nav-link img {
		border-radius: 50%;
		width: 36px;
		height: 36px;
		margin: -8px 0;
		float: left;
		margin-right: 10px;
	}
	.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    margin-top: 6px;
		padding-left: 10px;
		font-size: 20px;
	}
	.navbar .navbar-brand b {
		font-weight: bold;
		color: #33cabb;
	}
	.navbar .form-inline {
        display: inline-block;
    }
	.navbar .nav li {
		position: relative;
	}
	.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
		color: #fff;
		background: #33cabb;
		vertical-align: middle;
		border: none;
    font-size: 14px;
    margin-right: 20px;
	}
	.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {
		color: #fff;
		outline: none;
		background: #31bfb1;
	}
	.navbar .navbar-right li:first-child a {
		padding-right: 30px;
	}
	.navbar .nav-item i {
		font-size: 18px;
	}


	.navbar .nav .get-started-btn {
		min-width: 55px;
	}
	.navbar ul.nav li.open > a.get-started-btn {
		color: #fff;
		background: #31bfb1 !important;
	}
	.navbar .dropdown-menu.form-wrapper {
		width: 280px;
		padding: 20px;
		left: auto;
		right: 0;
    font-size: 14px;
	}
	.navbar .dropdown-menu.form-wrapper a {
		color: #33cabb;
		padding: 0 !important;
	}
	.navbar .dropdown-menu.form-wrapper a:hover{
		text-decoration: underline;
	}
  .navbar .checkbox-inline {
		font-size: 13px;
	}
	.navbar .navbar-right .dropdown-toggle::after {
		display: none;
	}
