<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> GENRE & MOODS </title>
  {% load static %}
  <link rel="stylesheet" href="{% static  '/css/style.css' %}">
</head>
<body>
  <div class="container-2">
    <h2> GENRE & MOODS </h2>
    <div class="content">

      {% for categories in category_list %}

      <a href="{{categories.category_link}}"><img class="img-responsive" src="{{categories.category_image}}" alt="{{categories.category_name}}"> <span> {{categories.category_name}}</span> </a>

      {% endfor %}
    </div>
  </div>

</body>
</html>
